@font-face {
    font-family: "Roboto";
    src: url("/fonts/Roboto-Light.ttf") format('truetype');
    font-weight: lighter;
}

@font-face {
    font-family: "Roboto";
    src: url("/fonts/Roboto-LightItalic.ttf") format('truetype');
    font-weight: lighter;
    font-style: italic;
}

@font-face {
    font-family: "Roboto";
    src: url("/fonts/Roboto-Thin.ttf") format('truetype');
    font-weight: 100;
}