@use './functions.scss' as *;
*{
    box-sizing: border-box;
    font-family: "Roboto";
    color: var(--color-text-basic);
    font-size: rem(20);
}

body{
    background-color: var(--color-bg-body);
}

h1{
    color: var(--color-header);
    text-align: center;
    font-weight: 100;
    font-size: rem(72);
    padding: 0;
    margin: 0;
}