.card {
    $border: rem(1) solid var(--color-border-basic);
    $shadow: var(--color-text-weak) 0px 6px 5px;

    position: relative;
    margin: 0 auto;
    width: rem(400);
    height: fit-content;
    border: $border;
    background: var(--color-bg-card);
    z-index: 0;
    transform-style: preserve-3d;
    box-shadow: $shadow;

    @media (max-width: 515px) {
        width: rem(316);
    }

    @media (max-width: 375px) {
        width: rem(286);
    }

    @media (max-width: 320px) {
        width: rem(240);
    }

    &::before,
    &::after {
        content: "";
        top: 50%;
        left: 50%;
        background: var(--color-bg-card);
        position: absolute;
        display: block;
        border: $border;
    }
    &::before {
        width: 98%;
        height: 100%;
        transform: translate(-50%, -48%) translateZ(-1px);
        box-shadow: $shadow;
    }
    &::after {
        width: 97%;
        height: 100%;
        transform: translate(-50%, -46%) translateZ(-2px);
        box-shadow: $shadow;
    }

    &__item {
        padding: rem(8);
        border-bottom: solid var(--color-border-basic) rem(1);
        min-width: 100%;
    }
}
